// Variables
@red: hsl(0, 100%, 74%);
@green: hsl(154, 59%, 51%);
@blue: hsl(248, 32%, 49%);
@dark-blue: hsl(249, 10%, 26%);
@grayish-blue: hsl(246, 25%, 77%);

@ff: "Poppins", Helvetica, Arial, sans-serif;

// General

*, *::after, *::before, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: @ff;
}

// Utilities

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form__input {
  padding: 14px 10px;
  width: 100%;
  outline: none;
}

// Main

main {
  padding: 60px 20px;
  background: url("../images/bg-intro-mobile.png"), linear-gradient(@red, @red);
}

.h1 {
  text-align: center;
  color: white;
}

.left-part__para {
  .h1();
  margin-bottom: 60px;
  line-height: 24px;
}

.right-part__btn {
  color: white;
  background-color: @blue;
  line-height: 28px;
  padding: 14px 60px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.right-part__btn:hover {
  background-color: @dark-blue;
}

.btn__text-color {
  color: @grayish-blue;
}

.right-part__form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}